--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.1.0  # Replace with your required version
sentence-transformers
pinecone-client
langchain-groq
langchain
fitz
PyMuPDF
fastapi
uvicorn[standard]
pydantic
python-dotenv
requests
