--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu # Replace with your required version
sentence-transformers
pinecone
langchain-groq
langchain
PyMuPDF  
fastapi
uvicorn[standard]
pydantic
python-dotenv
requests
numpy==1.26.4
